<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Hola</h2>
    <p>esto es un html {{nombre}}  {{apellido}} {{temas}}</p>
    <p>{{temas.1}}</p>
    <ul>
        {% if temas %}
        {% for elTema in temas %}
        <li>
            {{elTema}}
        </li>
        {% endfor %}
        {% else %}
        <p>no hay elementos</p>
        {% endif %}
    </ul>
</body>
</html>